{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/address-book"
  }) }}

  {{ appHeading({ text: heading }) }}

  <div class="govuk-body" data-testid="app-page-body">

    {{ govukSummaryList({
      rows: summaryRows
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Edit",
        href: "/address-book/" + id + "/edit"
      }) }}
      {{ govukButton({
        text: "Delete",
        href: "/address-book/" + id + "/delete",
        classes: "govuk-button--warning"
      }) }}
    </div>

  </div>

{% endblock %}
