{#
  Service Header Macro

  Usage:
  {% from "service-header/macro.njk" import appServiceHeader %}
  {{ appServiceHeader({ userSession: userSession, authEnabled: authEnabled }) }}
#}
{% macro appServiceHeader(params) %}
  {% set userSession = params.userSession %}
  {% set authEnabled = params.authEnabled %}
  {% include "./template.njk" %}
{% endmacro %}
