{% extends "shared/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

  {{ govukBackLink({
    text: sharedCopy.layout.back,
    href: backLink
  }) }}

  {{ appHeading({ text: heading }) }}

  <div class="govuk-body" data-testid="app-page-body">

    {{ govukSummaryList({
      rows: summaryRows
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: copy.view.edit,
        href: editHref
      }) }}
      {{ govukButton({
        text: copy.view.delete,
        href: deleteHref,
        classes: "govuk-button--warning"
      }) }}
    </div>

  </div>

{% endblock %}
