{% extends "shared/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block journeyContent %}
  {% include "shared/error-summary.njk" %}

  <h1 class="govuk-heading-l">{{ copy.edit.title }}</h1>

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />

    {{ govukInput({
      label: { text: copy.form.fields.name },
      id: "name",
      name: "name",
      value: formValues.name,
      classes: "govuk-!-width-two-thirds",
      errorMessage: errors.name and { text: errors.name }
    }) }}

    {{ govukInput({
      label: { text: copy.form.fields.addressLine1 },
      id: "addressLine1",
      name: "addressLine1",
      value: formValues.addressLine1,
      classes: "govuk-!-width-two-thirds",
      errorMessage: errors.addressLine1 and { text: errors.addressLine1 }
    }) }}

    {{ govukInput({
      label: { text: copy.form.fields.addressLine2 },
      id: "addressLine2",
      name: "addressLine2",
      value: formValues.addressLine2,
      classes: "govuk-!-width-two-thirds",
      errorMessage: errors.addressLine2 and { text: errors.addressLine2 }
    }) }}

    {{ govukInput({
      label: { text: copy.form.fields.townOrCity },
      id: "townOrCity",
      name: "townOrCity",
      value: formValues.townOrCity,
      classes: "govuk-!-width-two-thirds",
      errorMessage: errors.townOrCity and { text: errors.townOrCity }
    }) }}

    {{ govukInput({
      label: { text: copy.form.fields.county },
      id: "county",
      name: "county",
      value: formValues.county,
      classes: "govuk-!-width-two-thirds",
      errorMessage: errors.county and { text: errors.county }
    }) }}

    {{ govukInput({
      label: { text: copy.form.fields.postcode },
      id: "postcode",
      name: "postcode",
      value: formValues.postcode,
      classes: "govuk-input--width-10",
      errorMessage: errors.postcode and { text: errors.postcode }
    }) }}

    {{ govukSelect({
      id: "countryCode",
      name: "countryCode",
      label: { text: copy.form.fields.countryCode },
      items: countryItems,
      value: formValues.countryCode,
      errorMessage: errors.countryCode and { text: errors.countryCode }
    }) }}

    {{ govukInput({
      label: { text: copy.form.fields.phone },
      id: "phone",
      name: "phone",
      value: formValues.phone,
      classes: "govuk-!-width-two-thirds",
      hint: {
        text: copy.form.phoneHint
      },
      errorMessage: errors.phone and { text: errors.phone }
    }) }}

    {{ govukInput({
      label: { text: copy.form.fields.email },
      id: "email",
      name: "email",
      value: formValues.email,
      classes: "govuk-!-width-two-thirds",
      autocomplete: "email",
      errorMessage: errors.email and { text: errors.email }
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({ text: copy.edit.save }) }}
      {{ govukButton({
        text: copy.edit.cancel,
        name: "cancel",
        value: "true",
        classes: "govuk-button--secondary"
      }) }}
    </div>

  </form>

{% endblock %}
